@charset "UTF-8";

body {
    background-color: blueviolet;
    font: normal 15pt arial;
}

header > h1 {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto; /*centraliza a section*/
    border: 1px solid rgba(0, 0, 0, 0.613);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.604);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

